REDIS_HOST=redis
REDIS_PORT=6379
SECRET_KEY=
GEMINI_API_KEY=


POSTGRES_DB=streaming_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=


# Cloud
CLOUD_SQL_CONNECTION_NAME=
GCS_BUCKET=

# Frontend
VITE_API_BASE_URL=http://localhost:8000