REDIS_HOST=redis
REDIS_PORT=6379
SECRET_KEY=
FRONTEND_URL=http://localhost:5173
BASE_STORAGE=uploads
GEMINI_API_KEY=

# Local dev
POSTGRES_DB=streaming_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432
